<form
  (ngSubmit)="onSaveNoteClicked()"
  [formGroup]="noteForm"
  class="flex flex-col gap-y-3"
>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput placeholder="Title" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Note content</mat-label>
    <textarea formControlName="content" matInput></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      [disabled]="!enryptionToggled"
      formControlName="password"
      matInput
      type="password"
    />
  </mat-form-field>
  <mat-slide-toggle formControlName="isPublic" name="scope">
    Make the note public
  </mat-slide-toggle>
  <mat-slide-toggle formControlName="isEncrypted" name="enryption">
    Encrypt the note
  </mat-slide-toggle>

  <button [disabled]="!noteForm.valid" color="primary" mat-raised-button>
    Save note
  </button>
</form>
