<form class="flex flex-col gap-y-1">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Note content</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input [disabled]="!enryptionToggled" matInput type="password" />
  </mat-form-field>
  <mat-slide-toggle
    (ngModelChange)="onVisibilityToggle()"
    [(ngModel)]="publicToggled"
    name="scope"
  >
    Make the note public
  </mat-slide-toggle>
  <mat-slide-toggle
    [(ngModel)]="enryptionToggled"
    [disabled]="publicToggled"
    name="enryption"
  >
    Encrypt the note
  </mat-slide-toggle>

  <button color="primary" mat-raised-button>Save note</button>
</form>
