<form (ngSubmit)="onRegisterClicked()" [formGroup]="registerForm">
  <div class="max-w-[300px] mx-auto">
    <div class="flex flex-col">
      <h1>Register</h1>
      <small>
        <mat-error
          *ngIf="registerForm.hasError('hasEightCharacters', 'password')"
        >
          Password must contain at least 8 characters
        </mat-error>
        <mat-error *ngIf="registerForm.hasError('hasUpperCase', 'password')">
          Password must contain at least 1 uppercase character
        </mat-error>
        <mat-error *ngIf="registerForm.hasError('hasLowerCase', 'password')">
          Password must contain at least 1 lowercase character
        </mat-error>
        <mat-error *ngIf="registerForm.hasError('hasDigit', 'password')">
          Password must contain at least 1 digit
        </mat-error>
      </small>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input
          formControlName="email"
          matInput
          placeholder="john.doe@example.com"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput placeholder="Password" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input
          formControlName="passwordConfirmation"
          matInput
          placeholder="Password confirmation"
        />
      </mat-form-field>

      <p>Already have an account? <a routerLink="/login">Login.</a></p>

      <button [disabled]="!registerForm.valid" color="primary" mat-flat-button>
        Register
      </button>
    </div>
  </div>
</form>
