<form (ngSubmit)="onRegisterClicked()" [formGroup]="registerForm">
  <div class="max-w-[300px] mx-auto">
    <div class="flex flex-col gap-y-4">
      <h1>Register</h1>
      <mat-error *ngIf="registerError" class="text-xs"
        >User with this e-mail already exists!</mat-error
      >
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input
          formControlName="email"
          matInput
          placeholder="john.doe@example.com"
        />
        <mat-error *ngIf="registerForm.hasError('required', 'email')">
          E-mail is required
        </mat-error>
        <mat-error *ngIf="registerForm.hasError('email', 'email')">
          E-mail is not valid
        </mat-error>
      </mat-form-field>

      <mat-form-field class="min-h-fit">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput placeholder="Password" />
        <mat-error *ngIf="passwordHasError()" class="text-xs">
          {{ getFirstPasswordError() }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input
          formControlName="passwordConfirmation"
          matInput
          placeholder="Password confirmation"
        />
      </mat-form-field>

      <p>Already have an account? <a routerLink="/login">Login.</a></p>

      <button [disabled]="!registerForm.valid" color="primary" mat-flat-button>
        Register
      </button>
    </div>
  </div>
</form>
